* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #bbbbbb;
}

h1, h2 {
  color: #333333;
}

.btn {
  font: inherit;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #ac4c7c;
  border-color: #ac4c7c;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 25rem;
  
}

.editInfo {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 2rem;
  width: 25rem;
  z-index: 1;
  /*position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);*/
}

.required {
  color: red;
}